.rich-link {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 500px;
  height: 220px;
}

.rich-link .title {
  text-align: right;
  color: #faa;
  font-size: 100%;
}

.rich-link .desc {
  font-size: 80%;
  max-height: 20px;
}

.rich-link a {
  text-align: right;
}
